.container {
  display: flex;
  height: 100vh;
  border: 1px solid;

  .left {
    width: 60%;
    height: 100%;
    padding: 20px 0;
    z-index: 3;
    border-right: 1px solid #ccc;

    .action-wrapper {
      // border: 1px solid red;
      width: 80%;
    }
  }
  .right {
    width: calc(40% - 20px);
    padding: 20px;
    position: relative;
    canvas {
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
.image-container {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: auto 16 / 9;
}
.slider {
  //
  border: 1px solid;
}

.crop-controls {
  padding: 20px;
  position: relative;
}
